.about-tool
  h2.subtitle.about-tool-subtitle
    span.subtitle__content
      span.icon-gear
  .about-tool-header
    h3 
      span In
      span &#32;
      strong Sigy
      span &#32;
      span you will get a tool that is:
  .about-tool-items
    .about-tool-item
      img.about-tool-item__pic(src="/img/about-tool-1.png" alt="")
      .about-tool-item__content
        p
          strong Very easy to use and navigate – 
          br
          span you don’t have to be a techy geek to use it.
    .about-tool-separator
    .about-tool-item
      img.about-tool-item__pic(src="/img/about-tool-2.png" alt="")
      .about-tool-item__content
        p
          strong Chucked full with “basic” indicators like:
          span &#32; 
          span Stochastic Oscillator, RSI, EMA, EMA Cross, SMA, Daily Volume, Stochastic RSI, MACD.
    .about-tool-separator
    .about-tool-item
      img.about-tool-item__pic(src="/img/about-tool-3.png" alt="")
      .about-tool-item__content
        p
          strong Supplemented by advanced indicators like: 
          span &#32;
          span Bollinger Bands, Ichimoku Cloud, Fibonacci Levels.
    .about-tool-separator
    .about-tool-item
      img.about-tool-item__pic(src="/img/about-tool-4.png" alt="")
      .about-tool-item__content
        p
          strong 100% cloud based: 
          span &#32;
          span Nothing to install.
  .how-work-footer 
    p And so much more!
    a.btn.btn--primary.btn--lg(href="#anchor-pricing" data-scroll-to) Button
