.about-tool
  color: #bed7f6
  padding: 38px 31px 0 31px

  @media (min-width: $screen-lg)
    padding-top: 150px

.about-tool-subtitle
  padding-top: 31px
  font-size: 10px

  @media (min-width: $screen-lg)
    font-size: 17px

.about-tool
  color: #bed7f6
  text-align: center

  h3
    padding: 0
    padding-top: 12px
    margin: 0
    color: #fff
    font-family: $font-family-bold

    @media (min-width: $screen-lg)
      font-size: 36px

  strong
    color: #f7d800

.about-tool-items
  position: relative
  padding-top: 42px
  margin: 0 auto

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: center
    max-width: 1441px

.about-tool-item
  flex-grow: 2
  max-width: 417px
  margin: 0 auto

  @media (min-width: $screen-lg)
    max-width: 230px

  @media (min-width: $screen-xl)
    max-width: 317px

  &__pic
    display: block
    width: 100%
    height: auto
    margin: 0 auto
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  &__content
    text-align: center

    @media (min-width: $screen-xl)
      font-size: 18px

    strong
      color: #fff

    p
      padding-top: 20px
      margin: 0 auto
      line-height: 1.6em

.about-tool-separator
  display: block
  position: relative
  height: 39px
  padding-top: 36px

  &::after
    content: ''
    display: block
    height: 100%
    width: 100%
    background-image: url('/img/separator-vertical.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  @media (min-width: $screen-lg)
    width: 64px
    height: 32px
    padding: 100px 5px 0 5px

    &::after
      background-image: url('/img/separator-horizontal.png')

.about-tool-footer
  padding-top: 57px
  margin: 0
  color: #fff
  font-size: 12px
  text-align: center
  line-height: 1.6em

  @media (min-width: $screen-lg)
    font-size: 22px
