.features
  .panel.features-panel
    .features-panel__gears
    .features-header
      span With 
      span &#32;
      strong Sigy
      span , You Will Enjoy All of The Following And More:
    .features-list
      .feature.feature--1
        .feature__pic
        .feature__content
          p
            span You will be able to
            span &#32;
            strong set price and indicator alerts for Cryptocurrencies. 
            span &#32;
            span.
              (So you can seep yourself into other fun stuff that you love while Sigy does the leg work for you based 
              on your pre-assigned settings).
      .feature.feature--2
        .feature__pic
        .feature__content
          p
            span You’ll have the chance to combine more than one indicator together so you can
            span &#32;
            strong create your own “trading algorithms”
            span &#32;
            span to suit your own needs.
      .feature.feature--3
        .feature__pic
        .feature__content
          p
            span You get to use 
            span &#32;
            strong “Coin Groups”
            span &#32;
            span to track more than one coin pair at a time using the same settings right from your dashboard.      
      .feature.feature--4
        .feature__pic
        .feature__content
          p
            span You get to use
            span &#32;
            strong unlimited notifications in REAL TIME
            span &#32;
            nobr (So you can act if need be, as soon as possible)
      .feature.feature--5
        .feature__pic
        .feature__content
          p
            strong Receive notifications 
            span &#32;
            span via SMS, Email, Slack and Telegram 
            nobr (the more the merrier).
