.features
  padding: 73px 12px 12px 12px

  @media (min-width: $screen-lg)
    padding-left: 50px
    padding-right: 50px

.features-panel
  position: relative
  max-width: 480px
  padding: 0 0 65px 0
  margin: 0 auto

  @media (min-width: $screen-lg)
    max-width: 1277px

  &__gears
    position: absolute
    bottom: -20px
    right: 7px
    width: 73px
    height: 36px
    background-image: url('/img/gears.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

    @media (min-width: $screen-lg)
      width: 236px
      height: 117px
      bottom: -60px
      right: 20px

.features-header
  display: block
  padding: 56px 20px 0 20px
  margin: 0 auto
  color: #0f3c61
  font-size: 16px
  font-family: $font-family-bold
  text-align: center

  @media (min-width: $screen-lg)
    max-width: 662px
    padding-top: 117px
    font-size: 36px

.feature
  padding-top: 33px

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    padding-top: 70px
    padding-left: 106px
    padding-right: 133px

    & + &
      padding-top: 20px

    &:nth-child(even)
      flex-direction: row-reverse

      .feature__content
        text-align: right
        padding-right: 80px

  &__pic
    width: 100%
    height: 213px
    margin: 0 auto
    background-position: center
    background-repeat: no-repeat
    background-size: contain

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px
      margin: 0

  &__content
    max-width: 320px
    padding: 0 20px
    margin: 0 auto
    box-sizing: border-box

    @media (min-width: $screen-lg)
      flex-grow: 2
      padding-left: 20px
      max-width: 605px
      margin: 0
      font-size: 18px

    p
      padding-top: 14px
      margin: 0
      line-height: 1.6em

.feature--1
  .feature__pic
    background-image: url('/img/features-item-1.png')
    width: 257px
    height: 219px

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px

.feature--2
  .feature__pic
    background-image: url('/img/features-item-2.png')
    width: 257px
    height: 214px

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px

.feature--3
  .feature__pic
    background-image: url('/img/features-item-3.png')
    width: 257px
    height: 224px

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px

.feature--4
  .feature__pic
    background-image: url('/img/features-item-4.png')
    width: 271px
    height: 221px

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px

.feature--5
  .feature__pic
    background-image: url('/img/features-item-5.png')
    width: 257px
    height: 212px

    @media (min-width: $screen-lg)
      width: 433px
      height: 371px
