.footer
  width: 100%
  margin: 0 auto
  box-sizing: border-box
  border-top: 7px solid #93f8fe
  background-color: #1e79c4
  box-shadow: 0 -10px 60px #1ed5f7

  @media (min-width: $screen-lg)
    box-shadow: 0 -30px 100px #1ed5f7


.footer-content
  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    max-width: 1420px
    padding: 0 32px
    margin: 0 auto
    box-sizing: border-box

    &__left
      width: 50%

    &__right
      width: 50%

.footer-logo
  display: block
  width: 174px
  height: 59px
  margin: 50px auto 0 auto

  @media (min-width: $screen-xl)
    width: 319px
    height: 105px
    margin-left: 0

  img
    display: block
    max-width: 100%
    height: auto

.footer-links
  padding: 40px 0
  font-size: 16px
  text-align: center

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: flex-start
    padding-top: 80px
    font-size: 22px
    text-align: left

  &__block
    @media(min-width: $screen-lg)
      width: 50%

  a
    display: block
    margin-bottom: 18px
    color: #fff
    opacity: 0.4
    text-decoration: none
    transition: all 0.1s ease

    &:hover, &:focus, &:active
      opacity: 1

.footer__footer
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  width: 100%
  height: 98px
  padding: 37px 0 30px 0
  box-sizing: border-box
  background-color: #1a69ab

.social-links
  a
    margin: 0 15px
    opacity: 0.2

    &:last-child
      opacity: 1
