.footer-content
  .footer-content__left
    .footer-logo
      img(src="/img/logo.png" alt="Sigy")
  .footer-content__right
    .footer-links
      .footer-links__block
        a(href="#") Home
        a(href="#") Trading Platform
        a(href="#") API &amp; Data
        a(href="#") About
      .footer-links__block
        a(href="#" target="_blank") Login
        a(href="#" target="_blank") Sign up
        a(href="#" target="_blank") Terms &amp; Services
.footer__footer
  .social-links
    a(href="#")
      img(src="/img/icon-twitter.png" target="_blank")
    a(href="#")
      img(src="/img/icon-in.png" target="_blank")
    a(href="#")
      img(src="/img/icon-facebook.png" target="_blank")
