.get-access
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: flex-start
  max-width: 480px
  padding-top: 56px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 70px
  margin: 0 auto
  text-align: center

  @media (min-width: $screen-lg)
    padding-left: 32px
    padding-right: 32px
    padding-bottom: 140px
    max-width: 1400px

  @media (min-width: $screen-xl)
    padding-top: 250px
    padding-bottom: 250px

  h2
    padding: 0
    margin: 0
    color: #0f3c61
    font-size: 16px
    font-family: $font-family-bold

    @media (min-width: $screen-lg)
      font-size: 36px
      max-width: 700px

  p
    padding: 27px 0 0 0
    margin: 0

    @media (min-width: $screen-lg)
      font-size: 22px
      max-width: 700px

  .btn.btn--primary.btn--lg
    padding-left: 0
    padding-right: 0
    max-width: none
    margin-top: 27px
    font-size: 17px
    text-transform: none

    @media (min-width: $screen-lg)
      width: 100%
      height: 90px
      max-width: 458px
      margin-top: 50px
      font-size: 25px
      line-height: 90px

    @media (min-width: $screen-xl)
      font-size: 30px
      line-height: 90px

.get-access-panel
  position: relative
  padding: 50px 23px
  box-sizing: border-box

  @media (min-width: $screen-lg)
    width: 1000px
    max-width: 50%
    padding: 50px 60px
    margin-left: 280px

  @media (min-width: $screen-xl)
    max-width: 75%
    padding: 118px 127px
    margin-left: 450px

.get-access-mascot
  display: none
  position: absolute
  top: 0
  left: -263px
  width: 300px
  height: 488px
  background-image: url('/img/get-access-mascot.png')
  background-position: center
  background-repeat: no-repeat
  background-size: contain

  @media (min-width: $screen-lg)
    display: block

  @media (min-width: $screen-xl)
    top: -160px
    left: -445px
    width: 510px
    height: 820px

.get-access-gears
  position: absolute
  bottom: -20px
  right: 7px
  width: 73px
  height: 36px
  background-image: url('/img/gears.png')
  background-position: center
  background-repeat: no-repeat
  background-size: contain

  @media (min-width: $screen-lg)
    width: 118px
    height: 60px
    bottom: -30px
    right: 20px

  @media (min-width: $screen-xl)
    width: 236px
    height: 117px
    bottom: -60px
    right: 20px
