span#anchor-instant-access
.get-access
  .panel.get-access-panel
    .get-access-mascot
    .get-access-gears
    h2 It’s time to dump the manual way of watching the Crypto market.
    p.
      Get instant access to Sigy today and start enjoying all the benefits that come with being able to 
      monitor the market while still enjoying your other fun activities.
    a.btn.btn--primary.btn--lg(href="#" target="_blank") Get Instant Access Now!
