.hero
  .hero__content
    h2.subtitle.hero-subtitle
      span.subtitle__content Who else wants access to
    p.hero-header
      span A 'ROBOT' That Helps You Literally Automate Crypto Analysis?
    p.hero-action
      a.btn.btn--primary.btn--lg.hero-action-btn(href="#anchor-pricing" data-scroll-to) Button
  .hero__mascot
    .hero-mascot
