.hero
  display: block
  max-width: 480px
  padding: 0 40px
  margin: 0 auto
  box-sizing: border-box

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    max-width: 1487px
    padding-left: 145px

    &__mascot
      max-width: 593px

  &__content
    @media (min-width: $screen-lg)
      flex-grow: 2
      padding-top: 80px

    @media (min-width: $screen-xl)
      padding-top: 160px

.hero-subtitle
  display: block
  padding: 20px 0 0 0
  margin: 0 auto
  color: #3decff
  font-size: 9.5px
  text-align: left

  &::before
    width: 35px
    margin-left: 0

  &::after
    display: none

  &__content
    display: inline-block

  @media(min-width: 1140px)
    font-size: 24px

    &::before
      width: 89px
      margin-right: 24px

.hero-header
  display: block
  padding: 17px 0 0 2px
  margin: 0
  color: #fff
  font-family: $font-family-bold
  font-size: 18px
  line-height: 1.4em

  @media (min-width: $screen-lg)
    max-width: 645px
    padding-top: 28px
    padding-left: 0
    margin-left: -2px
    font-size: 30px
    line-height: 1.28em

  @media (min-width: $screen-xl)
    font-size: 52px

.hero-action
  display: block
  padding: 20px 0 0 0
  margin: 0
  text-align: center

  @media(min-width: 1140px)
    padding-top: 37px
    text-align: left

.hero-action-btn
  width: 100%

  @media(min-width: 1140px)
    width: 424px
    height: 84px
    margin-left: -16px
    font-size: 30px
    line-height: 84px

.hero__mascot
  position: relative
  height: 300px
  width: 100%

.hero-mascot
  position: absolute
  top: 45px
  right: 0px
  z-index: 100
  width: 231px
  height: 286px
  background-image: url('/img/mascot-animated.gif')
  background-position: center
  background-repeat: no-repeat
  background-size: contain

  @media(min-width: $screen-lg)
    width: 400px
    height: 495px

  @media(min-width: $screen-xl)
    top: 10px
    right: 10px
    width: 593px
    height: 734px
