.how-work
  color: #bed7f6
  padding: 38px 31px 0 31px

  @media (min-width: $screen-lg)
    padding-top: 150px

.how-work-subtitle
  font-size: 10px

  @media (min-width: $screen-lg)
    font-size: 17px

.how-work-header
  color: #bed7f6
  text-align: center

  h3
    padding: 0
    padding-top: 12px
    margin: 0
    color: #fff
    font-family: $font-family-bold

    @media (min-width: $screen-lg)
      font-size: 36px

  strong
    color: #f7d800

  p
    padding-top: 12px
    margin: 0

    @media (min-width: $screen-lg)
      font-size: 22px

.how-work-steps
  position: relative
  padding-top: 42px
  margin: 0 auto

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: center
    max-width: 1441px

.how-work-step
  flex-grow: 2
  max-width: 417px
  margin: 0 auto

  &__pic
    display: block
    width: 100%
    height: 206px
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  &__content
    text-align: center

    @media (min-width: $screen-lg)
      font-size: 18px

    h4
      padding-top: 23px
      margin: 0
      color: #fff
      font-family: $font-family-bold
      font-size: 20px

      @media(min-width: $screen-lg)
        font-size: 36px

      strong
        color: #f7d800

    p
      max-width: 180px
      padding-top: 20px
      margin: 0 auto
      line-height: 1.6em

      @media (min-width: $screen-lg)
        max-width: 317px

.how-work-step--1
  .how-work-step__pic
    background-image: url('/img/how-work-step-1.png')

.how-work-step--2
  .how-work-step__pic
    background-image: url('/img/how-work-step-2.png')

.how-work-step--3
  .how-work-step__pic
    background-image: url('/img/how-work-step-3.png')

.how-work-separator
  display: block
  position: relative
  height: 39px
  padding-top: 36px

  &::after
    content: ''
    display: block
    height: 100%
    width: 100%
    background-image: url('/img/separator-vertical.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  @media (min-width: $screen-lg)
    width: 64px
    height: 32px
    padding: 100px 14px 0 14px

    &::after
      background-image: url('/img/separator-horizontal.png')

.how-work-footer
  padding-top: 57px
  margin: 0
  color: #fff
  font-size: 12px
  text-align: center
  line-height: 1.6em

  @media (min-width: $screen-lg)
    font-size: 22px
