.how-work
  h2.subtitle.how-work-subtitle
    span.subtitle__content
      span.icon-gear
  .how-work-header
    h3 
      span How Exactly Does
      span &#32;
      strong Sigy
      span &#32;
      span Work?
    p Simple…Just 3 easy steps needed and you will be rocking with Sigy in no time:
  .how-work-steps
    .how-work-step.how-work-step--1
      .how-work-step__pic
      .how-work-step__content
        h4 
          span Step 
          span &#32;
          strong 1
        p Login into your dashboard to set price and indicator alerts for Cryptocurrencies.
    .how-work-separator
    .how-work-step.how-work-step--2
      .how-work-step__pic
      .how-work-step__content
        h4 
          span Step 
          span &#32;
          strong 2
        p Sit back and wait for the signals to roll in according to your specs.
    .how-work-separator
    .how-work-step.how-work-step--3
      .how-work-step__pic
      .how-work-step__content
        h4 
          span Step
          span &#32;
          strong 3
        p Get notified when the pre-set indicators have been met and take action based on the delivered data.
  p.how-work-footer 
    span Pretty simple and straight-forward, isn’t it?
    br
    span That’s just the beginning!

    
        
