.intro
  .panel.intro-panel
    .intro-panel__glow
    .intro-panel-container
      .intro-panel-container__gears
      span#anchor-trade-crypto
      h2.subtitle.intro-subtitle
        span.subtitle__content Introducing
      p.intro-header
        span The Best Way To 
        br.hide-lg
        strong Trade Cryptos
        span &nbsp;
        span Profitably… 
        br
        span Without Working Your Butt Off!
      .intro-block
        img.intro-block__pic(src="/img/intro-pic-1.png" alt="")
        .intro-block__content
          h3 How would you like to be alerted in real time whenever a Crypto either:
          ul
            li Rises or drops below a price.
            li A specific indicator that you have previously inputted into your Crypto ‘robot’ crosses a threshold? 
          h3 How much easier and faster do you think that will make Crypto trading become for you?
          p.highlighted Well, there’s such a tool that can help you do all of that and more! And you’re about to discover how you can get started with it today.
      .intro-block.intro-block--reverse
        img.intro-block__pic(src="/img/intro-pic-2.png" alt="")
        .intro-block__content
          h3 You already know the drills…
          p.
            Trading Crypto is currently the new ‘oil money’, because it’s turning ordinary people into millionaires 
            overnight. But the thing is: like any other investment opportunity, the Crypto market can be incredibly 
            unpredictable and volatile. That’s why you need to be on your toes, watching with keen eyes for changes 
            that you can quickly swoop in to profit from… and most importantly NOT lose from. But sitting stiff tight on 
            a spot, manually scanning the market for 23 hours out of 24 hours in a day can be such a tedious and 
            monotonous task… even with all the thrills of the profit margins involved! And it really shouldn’t be that 
            way for you, because there’s a better way of doing this!
        
