span#anchor-about-sigy
.intro-action
  h2.subtitle.intro-action-subtitle
    span.subtitle__content Introducing
  h3.intro-action-header Sigy
  .intro-action-body
    img.intro-action-body__pic(src="/img/intro-action-pic.png" alt="")
    .intro-action-body__content
      p.
        This all-new Crypto robot will do all the ‘dirty’ work for you... so you don’t have to sit glued to your chair 
        all day watching and waiting for signals.
      p We created Sigy to help you:
      ul
        li Save time
        li Save energy
        li 
          span Trim down human errors 
          br.hide-sm
          span that can arise from putting 
          br.hide-sm
          span in manual effort
      a.btn.btn--primary.btn--lg(href="#anchor-pricing" data-scroll-to) Button
