.intro
  position: relative
  max-width: 480px
  padding: 38px 10px 0 12px
  margin: 0 auto

  @media (min-width: $screen-lg)
    max-width: 100%
    padding: 100px 50px 0 50px

  @media (min-width: $screen-xl)
    padding-top: 192px

.intro-panel
  position: relative
  padding: 0 22px 50px 22px
  margin: 0 auto
  max-width: 1804px
  box-sizing: border-box

  &__glow
    position: absolute
    top: -20px
    left: 50%
    z-index: -1
    width: 315px
    height: 61px
    max-width: 100%
    margin-left: -157px
    background-image: url('/img/glow.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  @media (min-width: 1140px)
    padding-left: 100px
    padding-right: 100px
    padding-bottom: 140px

    &__glow
      width: 1832px
      height: 361px
      top: -150px
      margin-left: calc(-50%)
      background-image: url('/img/glow-big.png')

.intro-panel-container
  position: relative
  max-width: 1421px
  margin: 0 auto

  &__gears
    position: absolute
    top: -5px
    left: -7px
    width: 73px
    height: 36px
    background-image: url('/img/gears.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

    @media (min-width: $screen-lg)
      width: 236px
      height: 117px
      top: -20px

    @media (min-width: $screen-xl)
      left: -40px
      top: -16px

.intro-subtitle
  padding-top: 72px
  color: #108de9

  .subtitle__hr::after
    background-color: #108de9

  @media (min-width: 1140px)
    padding-top: 168px

.intro-header
  display: block
  padding: 12px 0 0 0
  margin: 0
  color: #0f3c61
  font-family: $font-family-bold
  font-size: 16px
  text-align: center

  @media (min-width: $screen-lg)
    padding-top: 22px
    font-size: 36px
    line-height: 1.3em

.intro-block
  padding-top: 0px

  &__pic
    height: auto
    max-width: 100%
    margin: 0 auto

  &__content
    h3
      margin: 0
      padding: 21px 0 0 0
      color: #0f3c61
      font-size: 14px
      line-height: 1.4em

    p
      margin-top: 22px
      font-size: 11px
      line-height: 1.6em

      &.highlighted
        color: #108de9

    ul
      padding: 0 0 0 25px
      margin-top: 24px
      margin-bottom: 0
      list-style-type: none

      li
        position: relative
        margin-top: 15px
        color: #959595
        line-height: 1.7em
        vertical-align: middle

        &::before
          content: ''
          display: inline-block
          position: absolute
          top: 3px
          left: -20px
          width: 11px
          height: 11px
          background-image: url('/img/gear-dark.png')
          background-position: center
          background-repeat: none
          background-size: cover
          opacity: 0.7

  @media (min-width: 1140px)
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    padding-top: 50px

    &__pic
      max-width: 50%

    &__content
      padding-left: 50px

      h3
        padding-top: 35px
        font-size: 18px

      p
        font-size: 16px

      ul
        font-size: 16px

        li::before
          top: 8px

    &--reverse
      flex-flow: row-reverse nowrap

      .intro-block__content
        padding-left: 0
        padding-right: 50px

  @media (min-width: 1800px)
    &__content
      h3
        font-size: 22px

      p
        font-size: 18px

      ul
        font-size: 18px

.intro-block:nth-child(2)
  background: red
