.intro-action
  display: block
  max-width: 480px
  padding-top: 56px
  margin: 0 auto
  color: #bed7f6

  @media (min-width: $screen-lg)
    max-width: 1448px
    padding-top: 157px

.intro-action-header
  display: block
  padding-top: 7px
  margin: 0
  color: #fff
  font-family: $font-family-bold
  font-size: 47px
  text-align: center

  @media (min-width: $screen-lg)
    font-size: 85px
    padding-top: 12px

.intro-action-body
  padding: 22px 20px 18px 20px

  &::after
    content: ''
    display: block
    clear: both

  &__pic
    max-width: 100%
    margin: 0 auto
    box-sizing: border-box

  &__content
    padding: 0 12px
    margin: 0 auto

    p
      padding-top: 24px
      margin: 0
      line-height: 1.7em

    p + p
      padding-top: 7px

    ul
      margin: 0
      padding: 34px 0 0 28px
      color: #fff
      font-family: $font-family-bold
      font-size: 14px
      list-style-type: none

      li
        position: relative

        &::before
          content: ''
          display: block
          position: absolute
          top: 3px
          left: -20px
          width: 11px
          height: 11px
          background-image: url('/img/gear-yellow.png')
          background-position: center
          background-repeat: no-repeat
          background-size: contain

      li + li
        margin-top: 17px

    .btn
      display: block
      width: 100%
      max-width: 237px
      margin: 33px auto 0 auto

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    padding-top: 12px

    &__pic
      display: block
      width: 748px
      max-width: 50%

    &__content
      display: block
      flex-grow: 2
      max-width: 50%
      font-size: 18px
      padding-left: 27px

      p
        max-width: 575px
        line-height: 1.4em

      p + p
        padding-top: 20px
        padding-left: 10px

      ul
        font-size: 22px
        padding-top: 6px
        padding-left: 50px

        li
          margin-top: 10px

          &::before
            width: 17px
            height: 17px
            top: 6px
            left: -33px

        li + li
          margin-top: 10px

      .btn
        width: 308px
        max-width: none
        margin-top: 37px
        margin-left: 13px

  @media (min-width: $screen-xl)
    align-items: flex-start
    padding-left: 0
    padding-right: 0

    &__pic
      max-width: none

    &__content
      padding-top: 53px
      font-size: 22px

      ul
        font-size: 30px

        li
          margin-top: 20px
          &::before
            top: 11px

        li + li
          margin-top: 23px
