span#anchor-pricing
.plans
  .plans-header
    h2
      strong Getting started 
      span &#32;
      span with Sigy today is easy.
    p Just pick the plan below that best suits you to get rolling:
  .plans-list
    .plans-list-item.panel
      .plan-mascot
      .panel__header
        .plan-header
          h3 Trader
          .plan-price
            span.plan-price__monthly
              strong $47
              span /mo
            span.plan-price__or or
            span.plan-price__yearly
              span 
                strong $432
                span /yr
              span ($36/mo paid yearly)
      .panel__content
        .plan-content
          ul
            li 10 active alerts at a time (can create unlimited - will be unable to activate if reacted the max).
            li Access to Price Alerts and (Multi) Indicator Alerts.
            li Lowest Available Chart Time Frame is 15-min.
            li Slack, Telegram, SMS, Email Notifications.
            li Ability to add “Market Cap” data as a “coin” when creating alerts.
            li Access to “Advanced” indicators
          a.btn.btn--primary.btn--lg(href="#" target="_blank") Hire Sigy
    .plans-list-item.panel
      .panel__header
        .plan-header
          h3 Investor
          .plan-price
            span.plan-price__monthly
              strong $27
              span /mo
            span.plan-price__or or
            span.plan-price__yearly
              span 
                strong $240
                span /yr
              span ($20/mo paid yearly)
      .panel__content
        .plan-content
          ul
            li 5 active alerts at a time (can create unlimited - will be unable to activate if reacted the max).
            li Access to Price Alerts and (Multi) Indicator Alerts.
            li Lowest Available Chart Time Frame is 4-hour.
            li Slack, Telegram, SMS, Email Notifications.
            li Ability to add “Market Cap” data as a “coin” when creating alerts
          a.btn.btn--primary.btn--lg(href="#" target="_blank") Hire Sigy
    .plans-list-item.panel
      .panel__header
        .plan-header
          h3 Free
          .plan-price.plan-price--free
            span (No Fee)
      .panel__content
        .plan-content
          ul
            li 1 alert active at a time (can create 5 max - will be unable to activate if reacted the max).
            li Access to Price Alerts and Indicator Alerts (NOT Multi Indicator).
            li Lowest Available Chart Time Frame is 1-Day.
            li Slack or Telegram Notifications.
          a.btn.btn--primary.btn--lg(href="#" target="_blank") Hire Sigy
          
