.plans
  padding-top: 85px
  max-width: 480px
  margin: 0 auto

  @media (min-width: $screen-lg)
    padding-top: 150px
    padding-bottom: 85px
    max-width: 1475px

.plans-header
  color: #bed7f6
  font-size: 14px
  text-align: center

  h2
    display: block
    margin: 0
    padding: 0 32px
    color: #fff
    font-family: $font-family-bold
    font-size: 20px

    @media (min-width: $screen-lg)
      font-size: 36px

  strong
    color: #f7d800

  p
    padding: 0 41px
    margin: 11px 0 0 0
    line-height: 1.6em

    @media (min-width: $screen-lg)
      font-size: 23px

.plans-list
  display: block
  padding: 185px 11px 0 11px
  box-sizing: border-box

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: row-reverse nowrap
    align-items: stretch
    justify-content: space-between
    padding: 100px 0 0 0

.plans-list-item
  position: relative
  margin-bottom: 62px

  @media (min-width: $screen-lg)
    max-width: 445px
    margin-bottom: 0
    margin-left: 16px
    margin-right: 16px

  @media (min-width: $screen-xl)
    margin-left: 32px
    margin-right: 32px

.plan-header
  text-align: center

  @media (min-width: $screen-lg)
    min-height: 100px

  @media (min-width: $screen-xl)
    min-height: 167px

  h3
    color: #f7d800
    font-family: $font-family-bold
    font-size: 14px
    text-transform: uppercase

    @media(min-width: $screen-xl)
      font-size: 19px

.plan-price
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  color: #fff
  font-family: $font-family-bold
  font-size: 19px

  strong
    color: #f7d800
    font-size: 34px

  @media(min-width: $screen-xl)
    font-size: 26px

    strong
      font-size: 46px

  &__yearly
    & > span
      display: block

      &:last-child
        font-size: 10px

    @media (min-width: $screen-xl)
      & > span:last-child
        font-size: 14px

  &__or
    padding: 0 15px 0 10px
    color: #f7d800
    font-size: 14px

    @media (min-width: $screen-xl)
      font-size: 19px

  &--free
    font-size: 31px

    @media (min-width: $screen-xl)
      font-size: 46px

.plan-content
  display: block
  position: relative
  padding: 13px 18px 25px 18px
  box-sizing: border-box

  @media (min-width: $screen-lg)
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    min-height: 600px
    padding: 36px 50px 43px 50px

  @media (min-width: $screen-xl)
    min-height: 750px
    font-size: 16px

  ul
    display: block
    position: relative
    padding: 0 0 0 27px
    margin: 0
    list-style-type: none

    li
      display: block
      position: relative
      line-height: 2em

      &::before
        content: ''
        display: block
        position: absolute
        top: 5px
        left: -25px
        width: 13px
        height: 13px
        background-image: url('/img/check-mark.png')
        background-position: center
        background-repeat: no-repeat
        background-size: contain

      @media (min-width: $screen-lg)
        &::before
          top: 10px
          left: -40px
          width: 20px
          height: 20px

    li + li
      margin-top: 30px

  .btn
    display: block
    width: 240px
    max-width: 100%
    margin: 72px auto 0 auto
    text-transform: none

.plan-mascot
  display: block
  position: absolute
  top: -125px
  right: 0
  width: 200px
  height: 140px
  background-image: url('/img/plan-mascot.png')
  background-position: center
  background-repeat: no-repeat
  background-size: contain

  @media (min-width: $screen-xl)
    width: 300px
    height: 190px
    top: -173px
