doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title Sigy
  link(rel="stylesheet" href="index.css")
body
  .bg
    .bg__rounds
    .bg__glow.bg__glow--1
    .bg__glow.bg__glow--2
    .bg__glow.bg__glow--3
  
  header.page-header
    include ./common/navbar
  
  main.main
    section
      include ./sections/hero.pug
    section
      include ./sections/intro.pug
    section
      include ./sections/intro-action.pug
    section
      include ./sections/how-work.pug
    section
      include ./sections/features.pug
    section
      include ./sections/about-tool.pug
    section
      include ./sections/plans.pug
    section
      include ./sections/get-access.pug
  
  footer.footer
    include ./sections/footer
      
  script(src="/scripts.js")
