.btn
  display: inline-block
  height: 2.76em
  padding: 0 2em
  box-sizing: border-box
  color: inherit
  border-radius: 4px
  font-family: $font-family-bold
  font-weight: bold
  line-height: 2.76em
  text-align: center
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap
  cursor: pointer

  @media(min-width: $screen-lg)
    border-radius: 10px

  &--primary
    background-color: $color-primary
    color: $btn-primary-text-color
    transition: all 0.2s ease

    &:hover
      color: darken($btn-primary-text-color, 10)
      background-color: lighten($color-primary, 10)
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)

    &:active
      background-color: $color-primary
      color: $btn-primary-text-color
      box-shadow: 0 0 0 rgba(0, 0, 0, 0)

  &--lg
    width: 239px
    font-size: 17px

    @media (min-width: $screen-lg)
      width: 308px
      height: 61px
      font-size: 20px
      line-height: 61px

  &--ghost
    display: inline-flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    background-color: transparent
    border-color: #3decff
    border-radius: 6px
    border-style: solid
    border-width: 3px
    color: #3decff
    transition: all 0.1s ease

    &:hover
      background-color: rgba(61, 236, 255, 0.8)
      border-color: rgba(61, 236, 255, 0.8)

    &:active
      background-color: rgba(61, 236, 255, 1)
