html
  display: block
  position: relative
  font-size: 10px
  padding: 0
  margin: 0

body
  display: block
  position: relative
  padding: 0
  margin: 0
  color: $text-color-default
  background-color: $background-color
  font-family: $font-family-default
  font-size: 11px

strong
  color: #108de9

.bg
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  background-color: red

  background: rgb(17,137,232)
  background: -moz-linear-gradient(top, rgba(17,137,232,1) 0%, rgba(17,137,232,1) 57%, rgba(18,176,240,1) 80%, rgba(17,137,232,1) 100%)
  background: -webkit-linear-gradient(top, rgba(17,137,232,1) 0%,rgba(17,137,232,1) 57%,rgba(18,176,240,1) 80%,rgba(17,137,232,1) 100%)
  background: linear-gradient(to bottom, rgba(17,137,232,1) 0%,rgba(17,137,232,1) 57%,rgba(18,176,240,1) 80%,rgba(17,137,232,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1189e8', endColorstr='#1189e8',GradientType=0 )

  &__rounds
    position: absolute
    top: 317px
    left: 0
    height: 250px
    width: 320px
    z-index: -1
    background-image: url('/img/bg-rounds-mobile.png')
    background-position: left top
    background-repeat: no-repeat
    background-size: contain

    @media (min-width: $screen-xl)
      width: 675px
      height: 590px
      left: 50%
      top: 300px

  &__glow
    display: block
    position: absolute
    z-index: -2
    width: 320px
    height: 655px
    min-height: 655px
    background-repeat: no-repeat
    background-size: contain

    &--1
      background-image: url('/img/bg-glow-right-mobile.png')
      background-position: right
      top: 108px
      right: 0

      @media (min-width: $screen-xl)
        width: 1020px
        height: 1707px
        top: 0
        background-image: url('/img/bg-glow-1.png')

    &--2
      background-image: url('/img/bg-glow-left-mobile.png')
      background-position: left
      top: 3020px
      left: 0

      @media (min-width: $screen-xl)
        top: 3645px
        width: 1007px
        height: 2265px
        background-image: url('/img/bg-glow-2.png')

    &--3
      background-image: url('/img/bg-glow-right-mobile.png')
      background-position: right
      top: 7700px
      right: 0

      @media (min-width: $screen-xl)
        top: 7795px
        width: 664px
        height: 1576px
        background-image: url('/img/bg-glow-3.png')

    &--4
      display: none

      @media (min-width: $screen-xl)
        display: block
        position: absolute
        left: 0
        top: 9590px
        width: 1003px
        height: 1359px
        background-image: url('/img/bg-glow-4.png')
        background-position: left
        background-repeat: no-repeat
        background-size: contain

.page-header
    display: block
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    box-sizing: border-box
    color: #fff
    background-color: $background-color

    @media (min-width: $screen-lg)
      position: static
      background-color: transparent

.main
  padding-top: 54px

  @media (min-width: 1140px)
    padding-top: 0

.hide-lg
  @media (min-width: 1140px)
    display: none

.hide-sm
  @media (max-width: calc($screen-lg - 1))
    display: none

.subtitle
  display: block
  position: relative
  padding: 0
  margin: 0
  color: #3decff
  font-family: $font-family-bold
  font-size: 8px
  text-align: center
  text-transform: uppercase

  @media(min-width: $screen-lg)
    font-size: 16px

  &__content
    display: inline-block

  &::before, &::after
    content: ''
    display: inline-block
    width: 45px
    height: calc(0.5em - 2px)
    margin: 0 9px
    border-top-width: 2px
    border-top-style: solid

    @media (min-width: $screen-lg)
      width: 88px
      margin: 0 17px
      height: calc(0.5em - 3px)
      border-top-width: 3px

.icon-gear
  display: inline-block
  width: 1em
  height: 1em
  background-image: url('/img/gear-blue.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.panel
  display: block
  padding: 0
  margin: 0
  border-radius: 8px
  background-color: #fff
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25)

  @media (min-width: $screen-lg)
    border-radius: 20px

  @media (min-width: $screen-xl)
    border-radius: 28px

  .panel__header
    padding: 12px
    border-bottom: 5px solid #f7d800
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    color: #fff

    background-color: #1e79c4
    background: rgb(30,121,196)
    background: -moz-linear-gradient(top, rgba(30,121,196,1) 0%, rgba(30,121,196,1) 63%, rgba(42,167,220,1) 100%)
    background: -webkit-linear-gradient(top, rgba(30,121,196,1) 0%,rgba(30,121,196,1) 63%,rgba(42,167,220,1) 100%)
    background: linear-gradient(to bottom, rgba(30,121,196,1) 0%,rgba(30,121,196,1) 63%,rgba(42,167,220,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e79c4', endColorstr='#2aa7dc',GradientType=0 )

  .panel__content
    padding: 12px
