$hamburger-padding-x                       : 0px !default
$hamburger-padding-y                       : 0px !default
$hamburger-layer-width                     : 25px !default
$hamburger-layer-height                    : 3px !default
$hamburger-layer-spacing                   : 4px !default
$hamburger-layer-color                     : #fff !default
$hamburger-layer-border-radius             : 0 !default
$hamburger-hover-transition-duration       : 0.15s !default
$hamburger-hover-transition-timing-function: linear !default

.hamburger
  display: inline-block
  height: 17px
  padding: $hamburger-padding-y $hamburger-padding-x
  transition-property: opacity, filter
  transition-duration: $hamburger-hover-transition-duration
  transition-timing-function: $hamburger-hover-transition-timing-function

.hamburger-box
  width: $hamburger-layer-width
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2
  display: inline-block
  position: relative

.hamburger-inner
  display: block
  top: 50%
  margin-top: $hamburger-layer-height / -2

  &,
  &::before,
  &::after
    width: $hamburger-layer-width
    height: $hamburger-layer-height
    background-color: $hamburger-layer-color
    border-radius: $hamburger-layer-border-radius
    position: absolute
    transition-property: transform
    transition-duration: 0.15s
    transition-timing-function: ease

  &::before,
  &::after
    content: ""
    display: block

  &::before
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1

  &::after
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1

.hamburger--3dxy
  .hamburger-box
    perspective: $hamburger-layer-width * 2

  .hamburger-inner
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)

    &::before,
    &::after
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)


  &.hamburger--active
    .hamburger-inner
      background-color: transparent
      transform: rotateX(180deg) rotateY(180deg)

      &::before
        transform: translate3d(0, $hamburger-layer-height + $hamburger-layer-spacing, 0) rotate(45deg)


      &::after
        transform: translate3d(0, ($hamburger-layer-height + $hamburger-layer-spacing) * -1, 0) rotate(-45deg)
