.navbar
  display: block
  width: 100%
  height: 54px
  max-width: 1487px
  margin: 0 auto

  &::after
    content: ''
    display: block
    clear: both

  a
    color: #fff

  &__brand
    display: block
    position: relative
    float: left
    box-sizing: border-box

  &__menu
    display: none
    box-sizing: border-box
    overflow: hidden

    &--opened
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: flex-start
      position: fixed
      top: 54px
      left: 0
      right: 0
      bottom: 0
      width: 100%
      padding-top: 24px
      background-color: $background-color
      z-index: 1000
      overflow-y: auto

  &__actions
    display: none
    float: right
    height: 144px
    padding: 34px 20px
    box-sizing: border-box

  &__menu-btn
    display: block
    float: right
    width: 65px
    height: 54px

  @media (min-width: 1140px)
    height: 144px

    &__brand
      height: 144px
      padding: 34px 0

    &__menu
      display: block
      float: right
      height: 144px
      padding: 34px 0

    &__actions
      display: block

    &__menu-btn
      display: none

.navbar-brand
  display: block
  float: left
  height: 54px
  padding: 11px 20px
  box-sizing: border-box
  outline: none

  &:focus
    background-color: #1095ea
    transition: background-color 0.3s ease-out

  &__logo
    display: block
    width: 94px
    height: 32px

  @media (min-width: 1140px)
    width: 204px
    height: 76px

    &__logo
      width: 164px
      height: 54px

.navbar-actions
  padding: 14px 0

.navbar-sign-up-btn
  width: 194px
  height: 48px
  font-size: 16px

.navbar-menu
  display: block
  list-style-type: none
  padding: 0
  margin: 0
  font-family: $font-family-bold

  @media (min-width: 1140px)
    height: 54px
    padding: 11px 0

.navbar-menu-item
  display: block
  padding: 12px 0
  font-size: 24px
  text-decoration: none
  white-space: nowrap

  & > span
    display: inline-block
    position: relative

  & > span
    &::after
      content: ''
      display: block
      position: absolute
      top: 50%
      left: -20px
      width: 5px
      height: 0
      background-color: #3decff
      transition: all 0.2s ease-out

  &--active > span::after, &:hover > span::after
    top: 0
    bottom: auto
    height: 100%

  @media (min-width: 1140px)
    display: inline-block
    padding: 0 18px
    font-size: 14px
    line-height: 54px

    & > span::after
      content: ''
      display: block
      position: absolute
      top: auto
      left: 50%
      bottom: 11px
      width: 0
      height: 3px
      background-color: #3decff
      transition: all 0.2s ease-out

    &--active > span::after, &:hover > span::after
      top: auto
      left: 0
      bottom: 11px
      width: 100%
      height: 3px

  @media (min-width: 1260px)
    padding: 0 24px
    font-size: 16px

.navbar-menu-btn
  display: block
  width: 65px
  height: 54px
  padding: 19px 20px
  box-sizing: border-box
  overflow: hidden
  background-color: transparent
  border-radius: 0
  border-width: 0
  cursor: pointer
  outline: none
  transition: background-color 0.3s ease-out

  &:focus
    background-color: #1095ea

  &--active:focus
    background-color: transparent
