.navbar
  .navbar__brand
    a.navbar-brand(href="/")
      img.navbar-brand__logo(src="/img/logo.png" alt="Sigy")
  .navbar__actions
    .navbar-actions
      a.btn.btn--ghost.navbar-sign-up-btn(href="#" target="_blank")
        span Sign Up
  nav.navbar__menu#MainMenuOverlay
    .navbar-menu
      a.navbar-menu-item.navbar-menu-item--active(href="#anchor-top" data-scroll-to)
         span Home
      a.navbar-menu-item(href="#anchor-trade-crypto" data-scroll-to)
         span Trade Crypto
      a.navbar-menu-item(href="#anchor-about-sigy" data-scroll-to)
         span About Sigy
      a.navbar-menu-item(href="#anchor-pricing" data-scroll-to)
         span Pricing
      a.navbar-menu-item(href="#anchor-instant-access" data-scroll-to)
         span Instant Access
      a.navbar-menu-item(href="#" target="_blank")
         span Login
  .navbar__menu-btn
    button.navbar-menu-btn#MainMenuBtn(type="button" title="Menu")
      span.hamburger.hamburger--3dxy
        span.hamburger-box
          span.hamburger-inner
